/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

  ul.icons li {
    display: inline-block;
    padding-left: 0;
  }

  ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
  }

/* Icons */

.icon {
  text-decoration: none;
}

  .icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon > .label {
    display: none;
  }
